@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mobileHeaderHeight: 60px;
  --desktopHeaderSize: 80px;
  --dark: theme(colors.neutral.900);
  --white: theme(colors.white);
  --gray: theme(colors.neutral.100);
}

body {
  @apply text-neutral-400;
}

.layout-grid {
  display: grid;
  min-height: 100dvh;
  grid-template-areas:
    "header"
    "main-area";
  grid-template-rows: var(--mobileHeaderHeight) 1fr;
}

.header {
  background: var(--dark);
  color: var(--white);
  grid-area: header;
}

.main-area {
  grid-area: main-area;
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - var(--mobileHeaderHeight));
  justify-content: space-between;
}

.footer {
  background: var(--gray);
}

@media (min-width: 1024px) {
  .layout-grid {
    grid-template-areas: "header main-area";
    grid-template-columns: var(--desktopHeaderSize) 1fr;
    grid-template-rows: 1fr;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--desktopHeaderSize);
  }
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner-container {
  text-align: center;
}
